body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    padding: 20px;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 200px;
    height: auto;
}
h1{
    text-align: center;
    color:#38bdf8;
}
.video-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.video-card{
    background-color: #020617;
    padding: 10px;
    border-radius: 12px;
    width: 320px;
    cursor: pointer;
    transition: transform 0.2s;
}
.video-card:hover {
    transform: scale(1.05);
}
.video-card img{
    width: 100%;
    border-radius: 10px;
}

.video-card h3{
    margin: 10px 0 5px;

}
.video-card p{
    color: grey;
    font-size: 14px;
}
