body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    text-align: center;
    background-color: darkblue;
    padding: 40px;
    border-radius: 15px;
}
button{
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
button:hover{
    background-color: lightblue;
    color: black;
}