body {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: 0.3s;
}
.dark {
    background: black;
    color: white;
}

button{
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.box{
    background: rgb(188, 235, 250);
    padding: 25px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}
.dark .box{
    background: rgb(0, 0, 36);

}
input{
    width: 100%;
    padding: 10px;
    margin-top: 10px;

}