body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    text-align: center;
    background-color: #020617;
    padding: 40px;
    border-radius: 15px;
}
h2{
    font-size: 48px;
    margin: 20px 0;
}
button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #38bdf8;
    color: black;
}