body {
    font-family: Arial, Helvetica, sans-serif;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box {
    background: #020617;
    padding: 30px;
    border-radius: 12px;
    width: 400px;
}
input {
    padding: 8px;
    width: 70%;
}

button{
    padding: 8px 12px;
    background-color: #808080;
    border-radius: 10px;
    cursor: pointer;
}

li {
    list-style-type: none;
    padding: 5px 0;
    color: white;
}